.layout-container {
  padding-top: 20px;
}

#block-backtoexpenseexpenseaddedit {
  margin-bottom: 25px;
}
#block-backtoexpenseexpenseaddedit a {
  border-radius: 0;
  border: 0 none;
  background-color: #ccc;
  background-image: none;
  color: #0074bd;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
}
#block-backtoexpenseexpenseaddedit a:hover {
  background-color: #0074bd;
  color: #ccc;
}

.path-node .node-expense-form .layout-region-node-secondary,
.path-node .node-expense-edit-form .layout-region-node-secondary {
  display: none;
}
.path-node .node-expense-form .field--name-field-date,
.path-node .node-expense-form .field--name-field-payment-method > .form-item,
.path-node .node-expense-form .field--name-field-buyer > .form-item,
.path-node .node-expense-edit-form .field--name-field-date,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: flex-start;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-justify-content: flex-start;
  /* OLD - Firefox 19- (buggy but mostly works) */
  justify-content: flex-start;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-align-items: center;
  /* OLD - Firefox 19- (buggy but mostly works) */
  align-items: center;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin: 0 0 12px;
}
.path-node .node-expense-form .field--name-field-date > *,
.path-node .node-expense-form .field--name-field-payment-method > .form-item > *,
.path-node .node-expense-form .field--name-field-buyer > .form-item > *,
.path-node .node-expense-edit-form .field--name-field-date > *,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item > *,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item > * {
  width: 208px;
}
.path-node .node-expense-form .field--name-field-date > *:first-child,
.path-node .node-expense-form .field--name-field-payment-method > .form-item > *:first-child,
.path-node .node-expense-form .field--name-field-buyer > .form-item > *:first-child,
.path-node .node-expense-edit-form .field--name-field-date > *:first-child,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item > *:first-child,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item > *:first-child {
  width: 166px;
}
.path-node .node-expense-form .field--name-field-date h4.label,
.path-node .node-expense-form .field--name-field-date > label,
.path-node .node-expense-form .field--name-field-payment-method > .form-item h4.label,
.path-node .node-expense-form .field--name-field-payment-method > .form-item > label,
.path-node .node-expense-form .field--name-field-buyer > .form-item h4.label,
.path-node .node-expense-form .field--name-field-buyer > .form-item > label,
.path-node .node-expense-edit-form .field--name-field-date h4.label,
.path-node .node-expense-edit-form .field--name-field-date > label,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item h4.label,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item > label,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item h4.label,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item > label {
  text-align: right;
  padding-right: 20px;
}
.path-node .node-expense-form .field--name-field-date .form-item,
.path-node .node-expense-form .field--name-field-payment-method > .form-item .form-item,
.path-node .node-expense-form .field--name-field-buyer > .form-item .form-item,
.path-node .node-expense-edit-form .field--name-field-date .form-item,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item .form-item,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item .form-item {
  margin: 0;
}
.path-node .node-expense-form .field--name-field-date .chosen-single,
.path-node .node-expense-form .field--name-field-date .chosen-container.chosen-container-multi,
.path-node .node-expense-form .field--name-field-payment-method > .form-item .chosen-single,
.path-node .node-expense-form .field--name-field-payment-method > .form-item .chosen-container.chosen-container-multi,
.path-node .node-expense-form .field--name-field-buyer > .form-item .chosen-single,
.path-node .node-expense-form .field--name-field-buyer > .form-item .chosen-container.chosen-container-multi,
.path-node .node-expense-edit-form .field--name-field-date .chosen-single,
.path-node .node-expense-edit-form .field--name-field-date .chosen-container.chosen-container-multi,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item .chosen-single,
.path-node .node-expense-edit-form .field--name-field-payment-method > .form-item .chosen-container.chosen-container-multi,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item .chosen-single,
.path-node .node-expense-edit-form .field--name-field-buyer > .form-item .chosen-container.chosen-container-multi {
  width: 208px;
}
.path-node .node-expense-form .field--name-field-date .form-item,
.path-node .node-expense-form .field--name-field-date input,
.path-node .node-expense-edit-form .field--name-field-date .form-item,
.path-node .node-expense-edit-form .field--name-field-date input {
  width: 100%;
}
.path-node .node-expense-form .field--name-field-date input,
.path-node .node-expense-edit-form .field--name-field-date input {
  border-radius: 5px;
}
.path-node .node-expense-form .field--name-field-payment-method .form-item-field-payment-method-other,
.path-node .node-expense-edit-form .field--name-field-payment-method .form-item-field-payment-method-other {
  margin-left: 15px !important;
}
.path-node .node-expense-form .tabledrag-toggle-weight-wrapper,
.path-node .node-expense-edit-form .tabledrag-toggle-weight-wrapper {
  display: none;
}
.path-node .node-expense-form .tabledrag-toggle-weight-wrapper + div.tableresponsive-toggle-columns + table[id^=field-expense-item-values] + div.clearfix,
.path-node .node-expense-edit-form .tabledrag-toggle-weight-wrapper + div.tableresponsive-toggle-columns + table[id^=field-expense-item-values] + div.clearfix {
  font-size: 0;
  color: transparent;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] thead,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] thead {
  display: none;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: flex-start;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-justify-content: flex-start;
  /* OLD - Firefox 19- (buggy but mostly works) */
  justify-content: flex-start;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-flex-wrap: wrap;
  /* OLD - Firefox 19- (buggy but mostly works) */
  flex-wrap: wrap;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin-right: 30px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform > *,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform > * {
  width: 225px;
  margin-right: 15px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .form-item,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .form-item {
  margin: 0;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .chosen-container,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .chosen-container {
  width: 100% !important;
  margin-bottom: 8px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .chosen-container.chosen-container-multi .chosen-choices,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .chosen-container.chosen-container-multi .chosen-choices {
  border-radius: 5px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost .form-number,
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-no-of-units .form-number,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost .form-number,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-no-of-units .form-number {
  height: 25px;
  border-radius: 5px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost {
  width: 115px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost .form-number,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-unit-cost .form-number {
  width: 100px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-no-of-units,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-no-of-units {
  width: 100px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-merchant,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-merchant {
  width: 150px;
}
.path-node .node-expense-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-categories,
.path-node .node-expense-edit-form div[id^=edit-field-expense-item-] .paragraphs-subform .field--name-field-categories {
  width: 275px;
}
.path-node .node-expense-form #edit-field-expense-item-add-more,
.path-node .node-expense-edit-form #edit-field-expense-item-add-more {
  margin-left: 40px;
}

.page-view-expenses .view-header,
.page-view-expenses-detailed .view-header {
  margin-bottom: 20px;
}
.page-view-expenses .view-header a,
.page-view-expenses-detailed .view-header a {
  border-radius: 0;
  border: 0 none;
  background-color: #ccc;
  background-image: none;
  color: #0074bd;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
}
.page-view-expenses .view-header a:hover,
.page-view-expenses-detailed .view-header a:hover {
  background-color: #0074bd;
  color: #ccc;
}
.page-view-expenses .view-header hr,
.page-view-expenses-detailed .view-header hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page-view-expenses .view-expenses table,
.page-view-expenses-detailed .view-expenses table {
  width: 100%;
}
.page-view-expenses td.views-field-field-expense-item .item-list,
.page-view-expenses-detailed td.views-field-field-expense-item .item-list {
  display: none;
}
.page-view-expenses th.views-field-nothing-1,
.page-view-expenses td.views-field-nothing-1,
.page-view-expenses-detailed th.views-field-nothing-1,
.page-view-expenses-detailed td.views-field-nothing-1 {
  width: 225px;
}
.page-view-expenses td.views-field-nothing-1,
.page-view-expenses-detailed td.views-field-nothing-1 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-justify-content: center;
  /* OLD - Firefox 19- (buggy but mostly works) */
  justify-content: center;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-align-items: center;
  /* OLD - Firefox 19- (buggy but mostly works) */
  align-items: center;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.page-view-expenses td.views-field-nothing-1 a,
.page-view-expenses-detailed td.views-field-nothing-1 a {
  display: block;
  background-color: #ccc;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 10px;
}
.page-view-expenses td.views-field-nothing-1 a:hover,
.page-view-expenses-detailed td.views-field-nothing-1 a:hover {
  background-color: #0074bd;
  color: #ccc;
}
.page-view-expenses td.views-field-nothing-1 a:last-child,
.page-view-expenses-detailed td.views-field-nothing-1 a:last-child {
  background-color: rgba(255, 0, 0, 0.75);
  color: #ccc;
}
.page-view-expenses td.views-field-nothing-1 a:last-child:hover,
.page-view-expenses-detailed td.views-field-nothing-1 a:last-child:hover {
  background-color: maroon;
  color: #FFF;
}

.page-node-type-expense .view-header {
  margin-bottom: 20px;
}
.page-node-type-expense .view-header a {
  border-radius: 0;
  border: 0 none;
  background-color: #ccc;
  background-image: none;
  color: #0074bd;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px 10px;
}
.page-node-type-expense .view-header a:hover {
  background-color: #0074bd;
  color: #ccc;
}
.page-node-type-expense .view-header a:last-child {
  background-color: rgba(255, 0, 0, 0.75);
  color: #ccc;
}
.page-node-type-expense .view-header a:last-child:hover {
  background-color: maroon;
  color: #FFF;
}
.page-node-type-expense .view-expense-details table {
  width: 500px;
}
.page-node-type-expense .attachment-after table {
  width: 1000px;
}