.page-node-type-expense .block--expense-details {
  table {
    width: 500px;

    tfoot tr.summary {
      position: relative;
    }

    tfoot tr.summary td:last-child {
      text-align: right;
    }

    tfoot tr.summary td:last-child .label {
      position: absolute;
      left: 0;
      padding-left: 12px;
      text-transform: uppercase;
    }
  }

  .attachment-after {
    table {
      width: 1000px;
    }
  }
}
